<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mingxin.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4B2D18F9F1FBC12C5268D749D96868003925D082</string>
				<key>dateExpires</key>
				<string>2019/7/11</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7U5QAGYBG8.org.mingxin</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>7U5QAGYBG8</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>7U5QAGYBG8.org.mingxin</string>
				</array>
			</dict>
			<key>name</key>
			<string>mingxin.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>39d14a1d-7849-4be3-8fb7-db9c759661b1</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: org.mingxin</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7U5QAGYBG8</string>
				<key>name</key>
				<string>jianfeng gao</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
